.about {
    padding: 0 50px;
}

.my-photo {
    width: 350px;
    height: 500px;
}

.about-title {
    color:#fff;
    font-weight: 800;
    font-size: 4.5rem;
}

.about figure {
    width: 350px;
    height: auto;
}

.about-content {
    justify-content: center;
}

.about-text {
    width: 40%;
    margin-left: 20px;
}

.about-title {
    text-align: center;
    margin: 0;
}

.about-paragraph {
    color: #000;
    text-size: 1rem;
}