 * {
     font-family: Montserrat, sans-serif;
     box-sizing: border-box;
 }

 .figure {
     margin: 0;
 }

 .flex {
     display: flex;
 }

 .flex-jc-center {
     display: flex;
     justify-content: center;
 }

 .flex-ai-center {
     display: flex;
     align-items: center;
 }

 //Vertical navigation
 #fp-nav ul li a span {
     background: #fff;
 }